<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Inicio{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% block nav %}{% include "partials/nav.html" %}{% endblock %}

    {% for category, message in get_flashed_messages(with_categories=true) %}
        <p class="{{ category }}">{{ message }}</p>
    {% endfor %}

    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
